#root {
    overflow-x: hidden;
}
.wrapper {
    margin: 0;
    background-color: #fff;
    font-family: Roboto, Arial, sans-serif;
    color: #272822;
    padding: 80px;
}
.parallax {
    height: calc(100vh - 160px);
    margin: 0 0 80px;
    background: url(../../assets/images/parallax.svg) no-repeat fixed center;
    background-size: cover;
}
.summary {
    height: calc(100vh - 160px);
    margin: 0 0 80px;
    background: url(../../assets/images/parallax2.png) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*Dark theme*/
.dark-theme .parallax {
    height: calc(100vh - 160px);
    margin: 0 0 80px;
    background: url(../../assets/images/dark.jpg) no-repeat fixed center;
    background-size: cover;
}
.dark-theme .summary {
    height: calc(100vh - 160px);
    margin: 0 0 80px;
    background: url(../../assets/images/web-dark2.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* mobile */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .wrapper {
        padding: 50px;
    }
    .parallax {
        background-position: 100%;
    }
    .summary {
        background-position: 103%;
    }
}
